.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite; /* Adjust the duration as needed */
}

.card {
  display: inline-block;
  margin-right: 20px; /* Adjust the spacing between cards */
  text-align: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
